@model List<PersonelMVC.Models.EntityFramework.Personel>

<h1>Personel Listesi</h1>

<br />

<table class="table table-dark table-hover" id="tblDepartmanlar">
    <thead class="bg-info">
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Maaş</th>
            <th>Doğum Tarihi</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Id</td>
                <td>@personel.Ad</td>
                <td>@personel.Soyad</td>
                <td>@personel.Maas</td>
                <td>@personel.DogumTarihi.Value.ToShortDateString()</td>

            </tr>
        }
    </tbody>
</table>
